.App {
    text-align: center;
}

.list-group-numbered>.list-group-item::before {
    content: '';
}

.form-check-input {
    margin-top: 0;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}